* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/*landing-page*/

#header {
	background-image: url(../images/bg.gif);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;

}


.typewriter {
	top: 50%;
	left: 50%;
	transform: translate(20%, 50%);
}


.css-typing p {
  border-right: .15em solid orange;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  color: #443D39;
}

.css-typing p:nth-child(1) {
  width: 1.5em;
  -webkit-animation: type 0.5s steps(40, end);
  animation: type 0.5s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 5.5em;
  opacity: 0;
  -webkit-animation: type2 1s steps(40, end);
  animation: type2 1s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 9.5em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 7.7em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 5.5em;
  opacity: 0;
  -webkit-animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 3s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*end*/



/*Media Queries*/


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	#nav-bar-nav {
	flex-direction: row;
	margin-top: 15%;
}	


	#header {
	background-image: url(../images/mobile.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 110vw;
	height: 125vh;	

}	
  .css-typing p {
  border-right: .15em solid orange;
  font-family: 'Caveat', cursive;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  color: #443D39;
}
	
	.typewriter {
	top: 50%;
	left: 50%;
	transform: translate(5%, 90%);
}

}

/*Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	#header {
	background-image: url(../images/mobile.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

	.typewriter {
	top: 50%;
	left: 50%;
	transform: translate(20%, 70%);
}

	.css-typing p {
  border-right: .15em solid orange;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  color: #443D39;

}

}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	#header {
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

  .css-typing p {
  border-right: .15em solid orange;
  font-family: 'Caveat', cursive;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  color: #443D39;
}

.typewriter {
	top: 50%;
	left: 50%;
	transform: translate(15%, 40%);
}

}